/* Estilos Generales */
/* #58cc02 */
:root {
    --color: #46c2e1;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #3c3c3c;
    background-color: cadetblue;
  }
  
  header {
    background-color: var(--color);
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  nav a {
    color: #3c3c3c;
    text-decoration: none;
    margin: 0 15px;
  }
  
  nav a:hover {
    color: var(--color);
  }
  
  main {
    padding: 20px;
  }
  
  .action-button {
    background-color: var(--color);
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    display: inline-block;
  }
  
  .action-button:hover {
    background-color: #084570;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
  }

  #svg1 {
    background-color:antiquewhite;
  }

  .container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }

  .labely{
    transform-origin: bottom left;
    transform: rotate(-90deg);
  }
  
  #cuadro {
    position: relative;
    z-index: 2;
  }
  .txt{
    font-size: small;
  }
  #fondo_tt { 
    filter: opacity(40%);
  }

  .punto {
    position: relative;
    z-index: 1;
  }
  
  .flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 1050px;

}
